body {
    background-color: powderblue;
    color: DimGray}
img {
    width: 230px;
    height: 400px;
}
figure {width:30%; margin:auto; padding-top: 1vw; padding-bottom: 1vw;}
figcaption {font-style: italic; font-size: smaller;}
img.photo {max-width:1000px; width:100%}